version: '3'
services:
  app:
    image: mds
    ports:
      - "8000:80"
    volumes:
      - .:/src
    depends_on:
      - db_migration
      - redis_migration
    environment:
      - DB_HOST=db
      - DB_USER=mds
      - USE_AGG_MDS=true
      - REDIS_DB_HOST=redis
    command: /env/bin/uvicorn --host 0.0.0.0 --port 80 mds.asgi:app --reload
  db_migration:
    build: .
    image: mds
    volumes:
      - .:/src
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_USER=mds
    command: /env/bin/alembic upgrade head
  redis_migration:
    build: .
    image: mds
    volumes:
      - .:/src
    environment:
      - USE_AGG_MDS=true
      - REDIS_DB_HOST=redis
    command: /env/bin/python /src/src/mds/populate.py --config /src/configs/brh_config.json --hostname redis
  db:
    image: postgres
    environment:
      - POSTGRES_USER=mds
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      - ./postgres-init:/docker-entrypoint-initdb.d:ro
  redis:
    image: redislabs/rejson:latest
    ports:
      - "6379:6379"
