[tool.poetry]
name = "mds"
version = "1.8.1"
description = "Metadata Service"
authors = ["CTDS UChicago <cdis@uchicago.edu>"]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.9"
fastapi = "^0.65.2"
uvicorn = {extras = ["standard"], version="^0.18.2"}
gunicorn = "^20.0.4"
gino = {version = "^1.0.0", extras = ["starlette"]}
alembic = "^1.3"
psycopg2-binary = "^2.8"
gen3authz = "^1.5.1"
indexclient = "^2.1.0"
httpx = "^0.23.0"
authutils = "^5.0.4"
cdislogging = "^1.0"
click = "==7.1.*,>=7.1.2"
pyyaml = "==5.4.*,>=5.4.1"
setuptools = "==52.0.*,>=52.0.0"
dataclasses-json = "==0.5.*,>=0.5.2"
pytest-asyncio = "^0.15.1"
jsonpath-ng = "^1.5.3"
elasticsearch = "<7.0"
bleach = ">=3.3.1"
tenacity = ">=8.0.0"

[tool.poetry.dev-dependencies]
pytest = "^5.3"
pytest-cov = "^2.8"
pyyaml = "^5.3.1"
requests = "^2.22"
respx = "*"
nest-asyncio = "^1.5.1"

[tool.poetry.plugins."mds.modules"]
"query" = "mds.query"
"maintain" = "mds.maintain"
"index" = "mds.index"
"objects" = "mds.objects"
"agg_mds" = "mds.agg_mds"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
