name: CI Workflow

on: [push]

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: harmon758/postgresql-action@v1
      with:
        postgresql version: '9.6'
        postgresql user: mds
        postgresql db: test_mds
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - uses: actions/cache@preview
      with:
        path: ~/.cache/pypoetry/virtualenvs
        key: ${{ runner.os }}-poetry-${{ hashFiles(format('{0}{1}', github.workspace, '/poetry.lock')) }}
        restore-keys: |
          ${{ runner.os }}-poetry-
    - name: Install dependencies
      run: |
        curl -sSL https://raw.githubusercontent.com/sdispater/poetry/master/get-poetry.py | python
        $HOME/.poetry/bin/poetry install
    - name: Test with pytest
      env:
        DB_HOST: localhost
        DB_USER: mds
      run: |
        $HOME/.poetry/bin/poetry run pytest --cov=src --cov=migrations/versions --cov-report xml
    - name: Submit coverage report
      env:
        CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_TOKEN }}
      run: |
        pip install codacy-coverage
        python-codacy-coverage -r coverage.xml

  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Publish to quay.io
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: cdis/metadata-service
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
          registry: quay.io
          tag_names: true
      - name: Publish to GitHub Packages
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: uc-cdis/metadata-service/mds
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          tag_names: true
